h1 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 36px;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover { 
    color: pink;
    text-decoration: none;
}
body {
    text-align: center;
    background: white;
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
}
p {
    font-size: 16px;
}

#leftimage {
    /*width: 350px;*/
    margin-left: 25%;
    float: left;
}
#rightimage {
    /*width: 350px;*/
    margin-right: 25%;
    float: right;
}
#pricing {
    margin-left: 10%;
    float: left;
}
#contact {
    margin-right: 10%;
    float: right;
}
div {
    text-align: left;

}
.image_box {
    height: 300px;
    text-align: center;
}
#inquiries {
    width: 316px;
    height: 200px;
}

/* social icons */
@font-face {
    font-family: 'si';
    src: url('icons/socicon.eot');
    src: url('icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('icons/socicon.woff') format('woff'),
         url('icons/socicon.ttf') format('truetype'),
         url('icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@font-face {
    font-family: 'si';
    src: url('icons/socicon.svg') format(svg);
}

.soc {
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
    margin-top: 20px;
}

.soc li a {
    font-family: 'si' !important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 4px;
    color: #ffffff;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}
.soc-instagram {
    background-color: #9c7c6e;
}
.soc-instagram:before {
    content:'x';
}
